@page "/Error"
@using System.Diagnostics
@using EventMemoria.Web.Services.Interfaces

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    <strong>Request ID:</strong> <code>@RequestId</code>
</p>

@code {
    [CascadingParameter] private HttpContext? HttpContext { get; set; }
    
    [Inject] private IAnalyticsService AnalyticsService { get; set; } = null!;

    private string? RequestId { get; set; }

    protected override void OnInitialized()
    {
        RequestId ??= Activity.Current?.Id ?? HttpContext?.TraceIdentifier;

        _ = AnalyticsService.LogPageViewAsync("Error");
    }
}
