@page "/"

@using EventMemoria.Web.Common.Settings
@using Microsoft.Extensions.Options
@using EventMemoria.Web.Components.NameModal
@using EventMemoria.Web.Components.Photo

@rendermode InteractiveServer

<PageTitle>@CustomizationOptions.Value.PageTitle</PageTitle>

<NameModal OnNameSaved="@OnNameSaved" />

<div class="birds-container">
    <HeaderComponent />

    <UploadComponent @ref="_uploadComponent"
                          OnPhotosUploaded="@RefreshVirtualizedGridAsync" />
    <VirtualizedGrid @ref="_virtualizedGrid"
                          OnPhotosLoaded="@OnPhotosLoaded" />
</div>

@code {
	[Inject] private IOptions<CustomizationOptions> CustomizationOptions { get; set; } = null!;

    private VirtualizedGrid? _virtualizedGrid;
    private UploadComponent? _uploadComponent;

    private async Task RefreshVirtualizedGridAsync()
    {
        if (_virtualizedGrid != null)
        {
            await _virtualizedGrid.RefreshPhotosAsync();
        }

        await InvokeAsync(StateHasChanged);
    }

    private void OnPhotosLoaded(List<Photo> photos)
    {
        StateHasChanged();
    }

    private async Task OnNameSaved()
    {
        if (_uploadComponent != null)
        {
            await _uploadComponent.RefreshUserNameAsync();
        }
    }
}
