@page "/"
@using Vogelhochzeit.Components.Shared
@using Vogelhochzeit.Models
@rendermode InteractiveServer

<PageTitle>Vogelhochzeit - Fotoportal</PageTitle>

<div class="birds-container">
    <HeaderComponent Title="Vogelhochzeit" 
                     Names="Jasmin & Philipp" 
                     AvatarImagePath="/title-image.jpg"
                     WelcomeMessage="Schön, dass ihr alle da seid! Lasst uns gemeinsam unvergessliche Erinnerungen schaffen ❤️❤️❤️" />

    <PhotoGridComponent Photos="@allPhotos.ToList()" />
</div>

@code {
    private readonly IEnumerable<Photo> allPhotos = [
        new(Guid.NewGuid(), "https://placehold.co/400"),
        new(Guid.NewGuid(), "https://placehold.co/400"),
        new(Guid.NewGuid(), "https://placehold.co/400"),
        new(Guid.NewGuid(), "https://placehold.co/400"),
        new(Guid.NewGuid(), "https://placehold.co/600x1200"),
        new(Guid.NewGuid(), "https://placehold.co/400"),
        new(Guid.NewGuid(), "https://placehold.co/400"),
        new(Guid.NewGuid(), "https://placehold.co/400"),
        new(Guid.NewGuid(), "https://placehold.co/400"),
        new(Guid.NewGuid(), "https://placehold.co/400"),
        new(Guid.NewGuid(), "https://placehold.co/400"),
        new(Guid.NewGuid(), "https://placehold.co/400"),
        new(Guid.NewGuid(), "https://placehold.co/400"),
        new(Guid.NewGuid(), "https://placehold.co/400"),
        new(Guid.NewGuid(), "https://placehold.co/400")
    ];

    private IEnumerable<Photo> GetFilteredPhotos()
    {
        return allPhotos.ToList();
    }
}
